<div>
    <img src="http://www.uoc.edu/portal/_resources/common/imatges/marca_UOC/UOC_Masterbrand.jpg" ,="" align="left">
</div>
<div style="float: right; width: 50%;">
<p style="margin: 0; padding-top: 22px; text-align:right;">End-of-degree Project: Product Matching</p>
<p style="margin: 0; text-align:right;">Master's Degree in Data Science</p>
<p style="margin: 0; text-align:right; padding-button: 100px;">Computer Science, Multimedia and Telecommunication studies</p>
</div>

<h1>Data cleansing</h1>

<hr/>

In this Notebook...

<h2>Imports</h2>

In [51]:
import pandas as pd
import numpy as np

<h2>Matched Products Data Loading</h2>

In [52]:
PRODUCT_DATA_FINAL_PATH = '../RawData/ProductDataFinal.csv'

df = pd.read_csv(PRODUCT_DATA_FINAL_PATH)

print("Initial number of products (rows): {}".format(df.shape[0]))
print("Initial number of attributes (columns): {}".format(df.shape[1]))

Initial number of products (rows): 300000
Initial number of attributes (columns): 35

<h2>Attribute selection and processing</h2>

In [53]:
df = df.loc[:,
    [
        'WebShopName',
        'WebShopProductID',
        'BrandName',
        #'Name',
        'Price',
        'Currency',
        'Color',
        'ProdanetID'
    ]]

df['WebShopName'] = df['WebShopName'].astype('category')
df['WebShopProductID'] = df['WebShopProductID'].astype('category')
df['BrandName'] = df['BrandName'].astype('category')
#df['Name'] = df['Name'].astype('category')
df['Price'] = df['Price'].astype('float')
df['Currency'] = df['Currency'].astype('category')
df['Color'] = df['Color'].astype('category')
df['ProdanetID'] = df['ProdanetID'].astype('category')

<h2>Data filtering</h2>

In [54]:
# Work only with prices in EUR
df = df.loc[df['Currency'] == 'EUR']

# Shuffle the dataset
df = df.sample(frac=1)

In [55]:
df.head(5)

,WebShopName,WebShopProductID,BrandName,Price,Currency,Color,ProdanetID
265269,FotoErhardt.de,6017570,Tamron,549.00,EUR,NaN,1493952
164492,Conrad.de,1875562,Canon,309.99,EUR,NaN,1019482
146871,Amazon.de,B004GIW0R8,Inverto,14.99,EUR,NaN,782965
6777,Conrad.de,1563235,Grundig,81.99,EUR,NaN,1654337
141767,Amazon.es,B078MN65J3,HP,599.50,EUR,NaN,1891680

In [56]:
df.describe(include = 'all')

,WebShopName,WebShopProductID,BrandName,Price,Currency,Color,ProdanetID
count,296714,296714,191977,296714.000000,296714,7826,296714.0
unique,784,194064,1824,NaN,1,1852,159569.0
top,Amazon.de,5893697,Hama,NaN,EUR,schwarz,1845671.0
freq,75985,1321,48778,NaN,296714,660,1322.0
mean,NaN,NaN,NaN,136.683255,NaN,NaN,NaN
std,NaN,NaN,NaN,806.697090,NaN,NaN,NaN
min,NaN,NaN,NaN,0.010000,NaN,NaN,NaN
25%,NaN,NaN,NaN,12.600000,NaN,NaN,NaN
50%,NaN,NaN,NaN,19.990000,NaN,NaN,NaN
75%,NaN,NaN,NaN,64.090000,NaN,NaN,NaN
max,NaN,NaN,NaN,299505.000000,NaN,NaN,NaN

<h2>Export</h2>

In [57]:
PRODUCT_DATA_FINAL_CLEAN_FILE_PATH = "../CleanData/CleanProductDataFinal.csv"

df.to_csv(PRODUCT_DATA_FINAL_CLEAN_FILE_PATH, sep=',', encoding='utf-8')

<h1>K Nearest Neighbors</h1>

<h2>Categorical variables encoding</h2>

In [65]:
from sklearn import preprocessing

#enc = preprocessing.OneHotEncoder()

#X = df.loc[:, df.columns != 'ProdanetID'].values.tolist()

#X = enc.fit_transform(X)

enc_categ_features = pd.get_dummies(df.loc[:, ['WebShopName', 'BrandName']])
enc_categ_features = enc_categ_features.join(df['Price'])

X = enc_categ_features.values.tolist()
y = df['ProdanetID'].values.tolist()

print(X.shape)
print(y.shape)

MemoryError:

In [ ]:
from sklearn.neighbors import KNeighborsClassifier