<div>
    <img src="http://www.uoc.edu/portal/_resources/common/imatges/marca_UOC/UOC_Masterbrand.jpg" ,="" align="left">
</div>
<div style="float: right; width: 50%;">
<p style="margin: 0; padding-top: 22px; text-align:right;">End-of-degree Project: Product Matching</p>
<p style="margin: 0; text-align:right;">Master's Degree in Data Science</p>
<p style="margin: 0; text-align:right; padding-button: 100px;">Computer Science, Multimedia and Telecommunication Studies</p>
</div>

<h1>Product Final Data cleansing</h1>

<hr style="background-color:#BCBCBC"/>

In this Notebook...

<h2>Imports</h2>

In [8]:
import pandas as pd
import numpy as np

<h2>Matched Products Data Loading</h2>

In [9]:
PRODUCT_DATA_FINAL_PATH = '../RawData/ProductDataFinal.csv'

df = pd.read_csv(PRODUCT_DATA_FINAL_PATH)

print("Initial number of products (rows): {}".format(df.shape[0]))
print("Initial number of attributes (columns): {}".format(df.shape[1]))

Initial number of products (rows): 300000
Initial number of attributes (columns): 35

<h2>Attribute selection and processing</h2>

In [10]:
df = df.loc[:,
    [
        'WebShopName',
        'WebShopProductID',
        'BrandName',
        'Name',
        'Price',
        'Currency',
        'Color',
        'ProdanetID'
    ]]

df['WebShopName'] = df['WebShopName'].astype('category')
df['WebShopProductID'] = df['WebShopProductID'].astype('category')
df['BrandName'] = df['BrandName'].astype('category')
df['Name'] = df['Name'].astype('category')
df['Price'] = df['Price'].astype('float')
df['Currency'] = df['Currency'].astype('category')
df['Color'] = df['Color'].astype('category')
df['ProdanetID'] = df['ProdanetID'].astype('category')

C:\Users\tegua\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

<h2>Data filtering</h2>

In [11]:
# Work only with prices in EUR
df = df.loc[df['Currency'] == 'EUR']

# Shuffle the dataset
df = df.sample(frac=1)

In [12]:
df.head(5)

,WebShopName,WebShopProductID,BrandName,Name,Price,Currency,Color,ProdanetID
266891,Amazon.de,B000A2XAWI,NaN,NaN,16.99,EUR,NaN,1577763
75751,Amazon-Marketplace.de,B00BT7D730,NaN,NaN,10.12,EUR,NaN,1292588
33296,JPC.de,5021972,NaN,NaN,12.99,EUR,NaN,1049959
110441,NotebooksBilliger.de,137650,HP,NaN,33.99,EUR,NaN,695626
264668,FotoErhardt.de,6019369,Canon,NaN,16.39,EUR,NaN,1339907

In [13]:
df.describe(include = 'all')

,WebShopName,WebShopProductID,BrandName,Name,Price,Currency,Color,ProdanetID
count,296714,296714,191977,0.0,296714.000000,296714,7826,296714.0
unique,784,194064,1824,0.0,NaN,1,1852,159569.0
top,Amazon.de,5893697,Hama,NaN,NaN,EUR,schwarz,1845671.0
freq,75985,1321,48778,NaN,NaN,296714,660,1322.0
mean,NaN,NaN,NaN,NaN,136.683255,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,806.697090,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,0.010000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,12.600000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,19.990000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,64.090000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,299505.000000,NaN,NaN,NaN

<h2>Export</h2>

In [14]:
PRODUCT_DATA_FINAL_CLEAN_FILE_PATH = "../CleanData/CleanProductDataFinal.csv"

df.to_csv(PRODUCT_DATA_FINAL_CLEAN_FILE_PATH, sep=',', encoding='utf-8')

<h1>K Nearest Neighbors</h1>

<h2>Categorical variables encoding</h2>

In [15]:
X = pd.get_dummies(df.loc[:, ['WebShopName', 'BrandName']])
X = X.join(df['Price'])

y = df['ProdanetID'].values.tolist()

In [16]:
from sklearn.neighbors import KNeighborsClassifier

clf = KNeighborsClassifier(n_neighbors=3)
clf.fit(X, y)

MemoryError:

In [ ]:
#%reset